* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body,
html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

main {
    width: 100%;
    height: 100%;
}

.video-contaner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;

    video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.screen-icons {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;

    .icons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img {
            width: 50px;
            height: 50px;
            object-fit: cover;
        }

        h1 {
            font-weight: 500;
            font-size: 1rem;
        }
    }
}

.bottom {
    width: 100%;

    .task-bar {
        width: 100%;
        display: flex;
        justify-content: center;
        position: absolute;
        justify-content: center;
        bottom: 0%;
        background-color: #f3f3f3;
        padding: .2rem 0;

        .right {
            position: absolute;
            right: 0%;
        }
    }
}


.menu {
    position: absolute;
    bottom: -102%;
    width: 100%;
    text-align: center;
    transition: bottom 0.3s ease-in-out;

    img {
        border-radius: .6rem;
    }
}

.right-click-menu {
    position: absolute;
    margin: 1rem;
    background-color: rgba(23, 23, 23, 0.849);
    width: 200px;
    color: rgb(236, 230, 230);
    padding: .5rem .3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: .5rem;
    display: none;


    .menu-item {
        padding: .8rem 1rem;
        border-radius: .5rem;

        &:hover {
            background-color: black;
            scale: .96;
        }
    }

}